<footer class="site-footer">

  <div class="wrapper">

		<!-- <h2 class="footer-heading">Por favor, deja tus preguntas y comentarios aquí abajo</h2> -->

    <!-- <div class="footer-col-wrapper"> -->
    <!--   <div class="footer-col footer-col-1"> -->
    <!--     <ul class="contact-list"> -->
    <!--       <\!-- <li>{{ site.title }}</li> -\-> -->
		<!-- 			<li><h2 class="footer-heading">{{ site.title }}</h2></li> -->

		<!-- 			<li><p>{{ site.description }}</p></li> -->
    <!--       <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
    <!--     </ul> -->
    <!--   </div> -->

      <!-- <div class="footer-col footer-col-2"> -->


        <!-- <ul class="social-media-list"> -->
          <!-- {% if site.github_username %} -->
          <!-- <li> -->
          <!--   {% include icon-github.html username=site.github_username %} -->
          <!-- </li> -->
          <!-- {% endif %} -->

          <!-- {% if site.twitter_username %} -->
          <!-- <li> -->
          <!--   {% include icon-twitter.html username=site.twitter_username %} -->
          <!-- </li> -->
          <!-- {% endif %} -->
        <!-- </ul> -->
      <!-- </div> -->

			<!-- <div class="footer-col"> -->
				<div class="footer-col-1">
					Búsqueda en todo el sitio:
					<script>
						(function() {
						var cx = '004417898274869075927:n3jasx0nwkc';
						var gcse = document.createElement('script');
						gcse.type = 'text/javascript';
						gcse.async = true;
						gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(gcse, s);
						})();
					</script>
					<gcse:searchbox-only></gcse:searchbox-only>
				</div>

			<!-- 	<\!-- <div class="footer-col footer-col-2"> -\-> -->
			<!-- 	<\!-- </div> -\-> -->

			<!-- 	<div class="footer-col-3"> -->

				<!-- 	<p>Antes de hacer tus preguntas, por favor verifica haciendo -->
				<!-- 		una búsqueda si no hay otra parte del libro o un post del blog -->
				<!-- 		más adecuada para tu pregunta. Ayúda a que el sitio se mantenga ordenado.<br/> -->

				<!-- 		Solo si tu pregunta es privada o personal, envíame un correo a -->
				<!-- 		<a href="mailto:{{ site.email }}">{{ site.email }}</a></p> -->
				<!-- </div> -->
			<!-- </div> -->

			<div id="disqus_thread"></div>
			<script>
				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
				*/
				/*
				var disqus_config = function () {
				this.page.url = "http://aquiahora.xyz";  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = {{page.title}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				*/
				(function() {  // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				
				s.src = '//javispace.disqus.com/embed.js';
				
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Por favor habilita JavaScript <a href="https://disqus.com/?ref_noscript" rel="nofollow"> para ver los comentarios.</a></noscript>


			
    </div>
		
  </div>

</footer>
